@charset "utf-8";
/* CSS Document */

.banner{width:1001px; margin:0 auto;}
.left{width:747px; margin-bottom:29px; float:left; margin-top:35px;}
.left .subnav a{font-family:Impact; font-size:12px; display:inline-block; color:#717670; line-height:40px;}
.left .subnav a:hover{text-decoration:underline;}
.left h2{width:250px; line-height:42px; font-size:20px; color:#ac2d1a; border-bottom:2px solid #ac2d1a;}
.left h2 span{font-size:14px; color:#545455; padding-left:7px;} 
.left p{padding-top:40px; padding-left:40px; padding-right:41px; text-indent:28px; line-height:32px; font-size:14px; border-top:1px solid #e1e2e2;}
.left ul{margin-top:44px; margin-left:52px;}
.left ul li{float:left; margin-right:25px; position:relative;}
.left ul li .tupian{display:none; width:309px; height:226px; background:rgba(255,255,255,0.5); position:absolute; top:0; left:0; }
.left ul li :hover .tupian{display:block;}
.left ul a{font-size:12px; margin-top:18px; margin-bottom:18px; color:#434444; text-align:center;}
.left ul :hover a{color:#ac2d1a; text-decoration:underline;}


.right{float:left; width:224px; margin-left:30px; margin-top:35px;}
.right h2{width:216px; font-size:22px; line-height:68px; color:#fefefe; text-align:center; background:#ac2d1a; border-bottom:2px solid #6b1e15;}
.right p{width:216px; font-size:12px; line-height:46px; text-align:center; background:#ededed; border-bottom:1px solid #fefefe;}
.right p:nth-child(3){ border-bottom:3px solid #ac2d1a;}
.right p a{color:#434444; }
.right p:hover{background:#ac2d1a;}
.right p:hover a{ color:#fefefe;}
.right h3{font-family:Impact; font-size:20px; line-height:50px; color:#ac2d1a; width:216px; text-align:center; border-bottom:3px solid #e1e2e2;}
.right li{background:url(../images/pic_09.jpg) no-repeat left center; font-size:14px; line-height:42px; padding-left:14px; border-bottom:1px solid #e1e2e2;}
.right li a{color:#555555;}
.right li:hover a{color:#ac2d1a; text-decoration:underline;}


